# General (IDEs, ..)
.idea/
.vscode/
.pio/
platformio.ini

# Rust
target/
.embuild/
Cargo.lock

# Python
venv/
__pycache__/

# C++
src_cpp/modules/**/lib/
src_cpp/modules/**/test/
src_cpp/modules/**/include/
src_cpp/modules/**/.gitignore

# KiCAD
*.sch-bak
*.code-workspace
*.lib
fp-info-cache
